<h1><%= @movie.title %></h1>
<p>Creation year: <%= @movie.creation_year %></p>
<p>Genre: <%= @movie.genre %></p>
<p>Average age of all actors: <%= @avg_age %></p>
<% @actors.each do |actor| %>
  <p>Actor name: <%= actor.name %></p>
<% end  %>
